:root {
  font-family: "Poppins", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark; /* Paksa mode gelap */
  color: rgba(255, 255, 255, 0.87);
  background-color: #0f172a; /* Slate 900 - Warna dasar Cosmic */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

/* Warna Scrollbar agar serasi */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #0f172a;
}
::-webkit-scrollbar-thumb {
  background: #4338ca; /* Indigo 600 */
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #6366f1;
}

/* Warna Seleksi Teks (Highlight) */
::selection {
  background: #6366f1; /* Indigo 500 */
  color: white;
}

a {
  font-weight: 500;
  color: #818cf8; /* Indigo 400 */
  text-decoration: inherit;
  transition: color 0.3s;
}
a:hover {
  color: #a5b4fc; /* Indigo 200 */
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden; /* Mencegah scroll samping */
}

@import "tailwindcss";

@layer base {
  body {
    font-family: "Poppins", sans-serif;
  }
}
